<p-table [value]="lancamentos"
         [rows]="filtro.itensPorPagina"
         [paginator]="true"
         [responsive]="true"
         [lazy]="true"
         [totalRecords]="totalRegistros"
         (onLazyLoad)="aoMudarPagina($event)"
         #tabela>
  <ng-template pTemplate="header">
    <tr>
      <th>Pessoa</th>
      <th>Descrição</th>
      <th class="col-data-header">Vencimento</th>
      <th class="col-data-header">Pagamento</th>
      <th class="col-valor-header">Valor</th>
      <th class="col-acoes-header"></th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-lancamento>
    <tr>
      <td>{{ lancamento.pessoa }}</td>
      <td>{{ lancamento.descricao }}</td>
      <td class="col-data">{{ lancamento.dataVencimento | date: 'dd/MM/yyyy' }}</td>
      <td class="col-data">{{ lancamento.dataPagamento | date: 'dd/MM/yyyy' }}</td>
      <td class="col-valor" [style.color]="lancamento.tipo === 'DESPESA' ? 'red' : 'blue'">
        {{ lancamento.valor | currency:'BRL':true:'1.2-2' }}</td>
      <td class="col-acoes">
        <a class="p-button-text button-table" pButton icon="fa fa-pencil" pTooltip="Editar" tooltipPosition="top" [routerLink]="['/lancamentos', lancamento.codigo]"></a>
        <button pButton pRipple type="button" icon="fa fa-trash" class="p-button-text button-table"
          pTooltip="Excluir" tooltipPosition="top" (click)="confirmarExclusao(lancamento)"
          [disabled]="!auth.temPermissao('ROLE_REMOVER_LANCAMENTO')"></button>
      </td>
    </tr>
  </ng-template>
  <ng-template pTemplate="emptymessage">
    <tr>
      <td colspan="6">
        Nenhum lançamento encontrado.
      </td>
    </tr>
  </ng-template>
</p-table>
