<div class="container">
  <form autocomplete="off" (ngSubmit)="pesquisar()">
    <div class="p-fluid p-formgrid p-grid">
      <div class="p-field p-col-12 p-md-6">
        <h1>Pessoas</h1>
      </div>
      <div class="p-field p-col-12 p-md-9">
        <label>Nome</label>
        <input pInputText type="text" name="nome" [(ngModel)]="filtro.nome">
      </div>
      <div class="p-field p-col-12">
        <button style="width: 105px;" pButton type="submit" label="Pesquisar"></button>
      </div>
    </div>
  </form>
  <div class="p-fluid p-formgrid p-grid">
    <div class="p-field p-col-12">
      <app-pessoas-grid [pessoas]="pessoas"
                        [filtro]="filtro"
                        [totalRegistros]="totalRegistros"
                        (executarPesquisa)="pesquisar($event)"></app-pessoas-grid>
    </div>
  </div>
  <div class="p-fluid p-formgrid p-grid">
    <div class="p-field p-col-2">
      <a pButton label="Nova Pessoa" routerLink="/pessoas/nova"></a>
    </div>
  </div>
</div>
