<p-table [value]="pessoas"
         [rows]="5"
         [paginator]="true"
         [responsive]="true"
         [lazy]="true"
         [totalRecords]="totalRegistros"
         (onLazyLoad)="aoMudarPagina($event)"
         #tabela>

  <ng-template pTemplate="header">
    <tr>
      <th>Nome</th>
      <th>Cidade</th>
      <th>Estado</th>
      <th>Status</th>
      <th class="col-acoes-header"></th>
    </tr>
  </ng-template>

  <ng-template pTemplate="body" let-pessoa>
    <tr>
      <td>{{ pessoa.nome }}</td>
      <td>{{ pessoa.endereco.cidade?.nome }}</td>
      <td>{{ pessoa.endereco.cidade?.estado.nome }}</td>
      <td>
        <a href="javascript:;" [pTooltip]="pessoa.ativo ? 'Desativar' : 'Ativar'" tooltipPosition="top" (click)="alternarStatus(pessoa)">
          {{ pessoa.ativo ? 'Ativo' : 'Inativo' }}</a>
      </td>
      <td class="col-acoes">
        <a class="p-button-text button-table" pButton icon="fa fa-pencil" pTooltip="Editar" tooltipPosition="top" [routerLink]="['/pessoas', pessoa.codigo]"></a>
        <button pButton pRipple type="button" icon="fa fa-trash" class="p-button-text button-table"
          pTooltip="Excluir" tooltipPosition="top" (click)="confirmarExclusao(pessoa)"></button>
      </td>
    </tr>
  </ng-template>

  <ng-template pTemplate="emptymessage">
    <tr>
      <td colspan="6">
        Nenhuma pessoa encontrada.
      </td>
    </tr>
  </ng-template>

</p-table>
